---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro"
---

<!-- Componente Test2 --> 
<Layout>
<div class="test2  ">
  <!-- contenido -->
  <h1 class="text-9xl text-center text-red-700">Test</h1>
</div> 
<Welcome>
</Layout>
