---

---

<footer class="bg-gray-800 text-white text-center p-4 -bottom-full">
  <p>&copy; 2025 Mi Sitio Web</p>
  <ul>
    <li><a href="/Testimonials" class="hover:underline">Testimonios</a></li>
    <li><a href="/FAQ" class="hover:underline">Preguntas Frecuentes</a></li>
    <li>
      <a href="/Privacy" class="hover:underline">Política de Privacidad</a>
    </li>
    <li><a href="/About" class="hover:underline">Sobre mí</a></li>
  </ul>
</footer>
